.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

#u713-4
{
	font-family: open-sans-n6, sans-serif;
}

#u696-4
{
	font-family: open-sans-n6, sans-serif;
}

#u701-4
{
	font-family: open-sans-n6, sans-serif;
}

#u720-4
{
	font-family: open-sans-n6, sans-serif;
}

#u707-4
{
	font-family: open-sans-n6, sans-serif;
}

#u968-4
{
	font-family: open-sans-n6, sans-serif;
}

#u954-4
{
	font-family: open-sans-n6, sans-serif;
}

#u959-4
{
	font-family: open-sans-n6, sans-serif;
}

#u945-4
{
	font-family: open-sans-n6, sans-serif;
}

#u977-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1408-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1413-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1572-4
{
	font-family: open-sans-n8, sans-serif;
}

#u2396-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2399-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2154-4,#u2172-4,#u2144-4,#u2209-2,#u2209-4,#u1543-4,#u2405-4,#u1592-4,#u2376-4,#u2549-4,#u3302-4,#u3411-4,#u3644-6,#u4318-4
{
	font-family: open-sans-n7, sans-serif;
}

#u4462-4,#u4492-4
{
	font-family: open-sans-n6, sans-serif;
}

#u4463-4,#u4498-4
{
	font-family: open-sans-n6, sans-serif;
}

#u4464-4,#u4495-4
{
	font-family: open-sans-n6, sans-serif;
}

#u4465-4,#u4501-4
{
	font-family: open-sans-n6, sans-serif;
}

#u4620-4,#u4617-4
{
	font-family: open-sans-n6, sans-serif;
}

#u4647-4
{
	font-family: open-sans-n8, sans-serif;
}

#u2209-7,#u1546-4,#u1552-4,#u1604-4,#u2373-4,#u3303-4,#u3410-4,#u3643-4,#u4353-4,#u4355-6,#u4346-4,#u4350-4,#u4474-4,#u4483-4,#u4480-4,#u4486-4,#u4621-4,#u4768-5,#u4771-5,#u4774-5,#u4777-5,#u4707-4,#u4712-4,#u4724-4,#u4730-4,#u4803-4,#u4806-4,#u4809-4,#u4812-4
{
	font-family: open-sans-n3, sans-serif;
}

#u2596-4,#u2600-4,#u2603-4,#u2606-4,#u4828-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu4826_input,#widgetu4826_prompt
{
	font-family: open-sans, sans-serif;
}

#u4352-4,#u4356-4,#u4347-4,#u4349-4,#widgetu4822.frm-sub-st #u4834-4 p,#widgetu4822.frm-subm-err-st #u4824-4 p,#widgetu4822.frm-subm-ok-st #u4823-4 p
{
	font-family: open-sans-i4, sans-serif;
}

#u4768,#u4771,#u4774,#u4777,#u4706-4,#u4715-4,#u4727-4,#u4932-4,#u4874-4,#u4880-4
{
	font-family: open-sans-n6, sans-serif;
}

